[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-swagger-ui = "*"
marshmallow-sqlalchemy = "*"
flask-debugtoolbar = "*"
sqlalchemy = "*"
pyjwt = "*"
requests = "*"
bs4 = "*"
pylance = "*"

[dev-packages]
pytest = "*"
coverage = "*"

[requires]
python_version = "3.9"
